:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "SVN-Gilroy Light";
  font-style: normal;
  font-weight: normal;
  src: local("SVN-Gilroy Light"), url("svn-gilroy-light.woff") format("woff");
}

@font-face {
  font-family: "SVN-Gilroy Bold";
  font-style: normal;
  font-weight: normal;
  src: local("SVN-Gilroy Bold"), url("svn-gilroy-bold.woff") format("woff");
}
.button {
  padding: 12px 28px;
  background-color: #003459;
  color: #fff;
  border-radius: 57px;
}
@media only screen and (max-width: 600px) {
  .button {
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}
section {
  background-color: white;
}
.button.button--outline {
  background-color: transparent;
  color: #003459;
  border: 1px solid #003459;
}
.button.button--sm {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.button.button--hasIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.col-4 {
  @apply grid-cols-2 lg:grid-cols-4;
}
.col-3 {
  @apply grid-cols-1 lg:grid-cols-3;
}
.col-7 {
  @apply grid-cols-2 lg:grid-cols-7;
}
.onlyDesktop {
  @apply hidden lg:block;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
