:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button {
  padding: 12px 28px;
  background-color: #003459;
  color: #fff;
  border-radius: 57px;
}
section {
  background-color: white;
}
.button.button--outline {
  padding: 12px 28px;
  background-color: transparent;
  color: #003459;
  border-radius: 57px;
  border: 1px solid #003459;
}
.button.button--sm {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.button.button--hasIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
